a {color:lightblue;}
body { background-image: url('../images/background.jpg'); background-repeat: no-repeat; background-size: inherit; background-position: fixed;font-family: 'Signika', sans-serif;}
header, footer, #main-content-area {background-color: rgba(0,0,0,0.75);}
header {height: 200px;width:inherit;}
footer {height: 35px;position:relative;}
	header div	{float:left;}
a:visited {color:lightblue;}
#container {width:1100px; margin:0 auto;}
#album-image-container {width:15%;}
#album-cover-image {padding:25px;}
#nav-container {position:relative;width:85%;height:inherit;}
	#nav-container	nav {position: absolute;bottom: 80px;opacity: 1;}
	#nav-container	nav a {color:white;padding-right:20px;font-size:24px;text-decoration:none;letter-spacing: 1px;transition:all .3s;}
	#nav-container	nav a:hover {text-decoration:underline;}
	#nav-container nav li {display:block;float:left;}
	#nav-container nav ul, #nav-container nav li {list-style: none;}
	#nav-container .selected {text-decoration:underline;}

#main-content-area {margin: 25px 0 5px 0;width:inherit;position:relative;}
#content {padding:10px 30px 20px 30px;color:white;width:60%;}
#copyright {color:white; position:absolute; left:42%;top:20%;}
#contact-form {margin-top:15px;}
	#contact-form tr {height:40px;}
	#contact-form input[type="text"], #contact-form input[type="email"] {height:20px;}
	#contact-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="texarea"], textarea {border-radius: 3px;min-width: 230px }
	#contact-form button {width:35%;height:25px;}
#side-image {padding-top:30px;position:absolute;right:12%;}
	#side-image img {max-width: 350px}
#side-image h2 {color:white;}
#side-image, #content {display:inline-block;}
#login-form {padding:0 0 25px 25px;}
	#login-form label, #login-form td {color:white;}
#create-page-form input[type="text"], #contact-form input[type="email"] {height:20px;}
#create-page-form input[type="text"], #contact-form input[type="email"], #contact-form input[type="texarea"], textarea {border-radius: 3px;min-width: 230px }
body#image_gallery #content {width:100%;}
#image-gallery-container {padding:15px;position:relative;}
.image_thumbnail_container {width:30%;margin:10px;float:left;}
.inner-image-container img {max-width:100%;max-height:300px; transition: box-shadow .1s;}
.inner-image-container img:hover {box-shadow: 0px 0px 25px 2px;}